<!DOCTYPE html>
<html>
<head>
  <title>{{ Rosa AI }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
    <nav>
      <a href="{{ url_for('public_dashboard') }}">Home</a>
      <a href="{{ url_for('make_call') }}">Make Call</a>
      <a href="{{ url_for('call_analysis') }}">Call Analysis</a>
      <a href="{{ url_for('settings') }}">Settings</a>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
